.Student{
    background-color: aquamarine;
}
#i1{
    color:yellow;
}
#i2{
    color:green;
}
#i3{
    color:violet;
}
#i4{
    color:pink;
}
#i5{
    color:black;
}
#i6{
    color:red;
}